/*------------------------ Universal CSS Start ------------------------*/
* {
  margin: 0;
  text-decoration: none;
}

body {
  background-color: rgb(249, 244, 238);
}

/*-------- Header --------*/
header {
  border-bottom: 1px solid black;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "GFS Didot", serif;
}

/*---- Desktop ----*/
#desktop_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 35px;
}

#desktop_header div {
  display: flex;
  align-items: center;
}

#desktop_header h1 {
  font-size: 60px;
  margin-left: 20px;
}

#desktop_header nav ul {
  display: flex;
  list-style: none;
  gap: 90px;
  padding: 0;
}

#desktop_header li a {
  font-size: 38px;
  color: black;
}

/*---- Mobile ----*/
#mobile_header {
  display: none;
}

#mobile_header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mobile_header_top h1 {
  font-size: 40px;
  font-weight: normal;
}

#mobile_header_top a img {
  height: 66px;
  width: 66px;
}

#mobile_header_top i {
  font-size: 37px;
}

#mobile_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(249, 244, 238);
  overflow-x: hidden;
  transition: 0.2s;
}

#overlay_content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#overlay_content ul {
  list-style: none;
  padding: 0;
  align-self: center;
}

#mobile_overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: block;
  transition: 0.2s;
}

.close_button {
  position: absolute;
  top: 49px;
  right: 13px;
  font-size: 35px;
  color: black;
}

/* ---- Current page class | Add to the <li> in id "desktop_header" for the current page, to display a line under the menu button*/
.current_page {
  /* text-decoration: underline solid; */
  border-bottom: 1px solid black;
  /* margin: 0 140px; */
}

/*-------- Footer --------*/
/*---- Desktop ----*/
footer {
  background-color: #f9f4ee;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 20px 0;
  font-size: 32px;
}

#social_media_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social_media_container div {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

footer i {
  font-size: 50px;
  color: black;
  margin-right: 20px;
}

/*------------------------ Universal CSS End ------------------------*/

/*------------------------ Page specific CSS Start ------------------------*/

#coffee_title {
  text-align: center;
}

#coffee_title h1 {
  font-size: 100px;
  font-family: "Bodoni Moda", serif;
}

#coffee_content {
  margin: 145px 0 50px 0;
  display: grid;
  grid-template-areas:
    ". coffee1 coffee2 coffee3 ."
    ". coffee4 coffee5 coffee6 ."
    ". coffee7 coffee8 coffee9 .";
  row-gap: 40px;
  align-content: center;
}

.coffee1 {
  grid-area: coffee1;
}

.coffee2 {
  grid-area: coffee2;
}

.coffee3 {
  grid-area: coffee3;
}

.coffee4 {
  grid-area: coffee4;
}

.coffee5 {
  grid-area: coffee5;
}

.coffee6 {
  grid-area: coffee6;
}

.coffee7 {
  grid-area: coffee7;
}

.coffee8 {
  grid-area: coffee8;
}

.coffee9 {
  grid-area: coffee9;
}

.types_of_coffee {
  text-align: center;
  font-family: "Bodoni Moda", serif;
  width: 428px;
}

.types_of_coffee h3 {
  font-size: 36px;
}

.types_of_coffee p {
  font-size: 26px;
  font-weight: bold;
}

.types_of_coffee img {
  width: 180px;
}

/*------------------------ Page specific CSS End ------------------------*/

/*------------------------ Media queries ------------------------*/
@media screen and (max-width: 1800px) {
  footer {
    font-size: 24px;
  }

  .types_of_coffee img {
    width: 130px;
  }

  .types_of_coffee h3 {
    font-size: 30px;
  }

  .types_of_coffee p {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 1440px) {
  footer {
    font-size: 16px;
  }

  #coffee_title h1 {
    font-size: 60px;
  }

}

@media screen and (max-width: 1290px) {

  /* #coffee_content {
    grid-template-areas:
      ". coffee1 coffee2 ."
      ". coffee3 coffee4 ."
      ". coffee5 coffee6 ."
      ". coffee7 coffee8 ."
      ". coffee9 .";
  } */
  .types_of_coffee img {
    width: 90px;
  }

  .types_of_coffee h3 {
    font-size: 30px;
  }

  .types_of_coffee p {
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 990px) {
  #desktop_header nav ul {
    gap: 60px;
  }
}

@media screen and (max-width: 930px) {
  #desktop_header nav ul {
    gap: 40px;
  }
}

@media screen and (max-width: 900px) {
  #desktop_header nav a {
    font-size: 24px;
  }

  #desktop_header h1 {
    font-size: 50px;
  }
}

/* Mobile & Tablet */
@media screen and (max-width: 768px) {
  #desktop_header {
    display: none;
  }

  #mobile_header {
    display: block;
    margin: 0 10px;
  }
}

@media screen and (max-width: 554px) {
  footer {
    flex-direction: column-reverse;
    text-align: center;
  }
}